body {
  font-family: "Quicksand", sans-serif;
}

.avatar {
  width: 250px;
  height: 250px;
  margin-bottom: 40px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 10px 10px 10px 0px darkgrey;
}

.about {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 24px;
}

.button {
  background-color: black;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
}

.contact {
  margin-bottom: 48px;
}

.contact-icon {
  width: 20px;
  margin-right: 4px;
}

.mycontainer {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.unsplash.com/photo-1526628953301-3e589a6a8b74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=806&q=100");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: bottom right; */
  min-height: 100vh;
  padding: 64px 128px;
}

.content {
  max-width: 600px;
}

.job {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 24px;
}

.name {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 36px;
  }

  .name {
    font-size: 36px;
  }
}

/* font-family: 'Cormorant Garamond', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif; */
